In [5]:
#Essential imports
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

In [6]:
data_dict = pd.read_csv('./LCDataDictionary_Categories_Alina_csv/LoanStats-Table 1.csv')
data_dict

,Categories by Alina,LoanStatNew,Description,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,acc_now_delinq,The number of accounts on which the borrower i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,acc_open_past_24mths,Number of trades opened in past 24 months.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,addr_state,The state provided by the borrower in the loan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,all_util,Balance to credit limit on all trades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,annual_inc,The self-reported annual income provided by th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148,NaN,settlement_amount,The loan amount that the borrower has agreed t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,settlement_percentage,The settlement amount as a percentage of the p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,settlement_term,The number of months that the borrower will be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,* Employer Title replaces Employer Name for al...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data_dict['Categories by Alina'].value_counts(dropna=False)

NaN                             89
Fico at origination related     25
Not available at origination    25
Relevant                        12
Not informative                  2
Name: Categories by Alina, dtype: int64