## Lending Club dataset

Data was obtained directly from the Lending Club publicly available stats: [dataset](https://www.lendingclub.com/statistics/additional-statistics?) (sign in is requiried to obtain a complete dataset with FICO scores).

Time frame: the most recent 3 quarters 2020 Q1, 2019 Q4, and 2019 Q3. The dataset contains data for all loans issued within the past three quarters, including the current loan status (current, late, fully paid, etc.) and latest payment information.

### Gathering data and preparing the dataframe

In [3]:
#Essential imports
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

In [5]:
df1 = pd.read_csv('./Data/LoanStats_securev1_2019Q4.csv', sep=',', skiprows=1, low_memory=False)
df1

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,163477201,NaN,5000.0,5000.0,5000.0,36 months,17.74%,180.12,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,164027473,NaN,20000.0,20000.0,20000.0,36 months,12.40%,668.12,B,B4,...,393.88,19282.07,668.12,N,NaN,NaN,NaN,NaN,NaN,NaN
2,164137439,NaN,33000.0,33000.0,33000.0,60 months,15.24%,789.24,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,162948736,NaN,19000.0,19000.0,18975.0,36 months,6.46%,581.99,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,164131732,NaN,15000.0,15000.0,15000.0,36 months,7.02%,463.30,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128255,158748525,NaN,19000.0,19000.0,19000.0,36 months,6.46%,581.99,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128256,158298751,NaN,10000.0,10000.0,10000.0,60 months,28.80%,316.21,D,D5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128257,158206429,NaN,14875.0,14875.0,14875.0,36 months,16.95%,529.97,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128258,Total amount funded in policy code 1: 2087537550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128259,Total amount funded in policy code 2: 988164725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2 = pd.read_csv('./Data/LoanStats_securev1_2019Q3.csv', sep=',', skiprows=1, low_memory=False)
df2

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,158339152,NaN,24000.0,24000.0,24000.0,36 months,16.95%,855.07,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,158463084,NaN,13000.0,13000.0,13000.0,36 months,6.46%,398.21,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,158678307,NaN,25000.0,25000.0,25000.0,60 months,10.33%,535.25,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,158799729,NaN,33850.0,33850.0,33850.0,36 months,8.81%,1073.44,A,A5,...,672.06618,31471.02,1073.44,N,NaN,NaN,NaN,NaN,NaN,NaN
4,158884774,NaN,27200.0,27200.0,27200.0,60 months,15.24%,650.52,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143032,152956054,NaN,26575.0,26575.0,26575.0,60 months,15.24%,635.58,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
143033,153350995,NaN,10000.0,10000.0,10000.0,36 months,8.81%,317.12,A,A5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
143034,153062400,NaN,20000.0,20000.0,20000.0,60 months,22.50%,558.08,D,D3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
143035,Total amount funded in policy code 1: 2343177000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143036,Total amount funded in policy code 2: 1003938233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df3 = pd.read_csv('./Data/LoanStats_securev1_2020Q1.csv', sep=',', skiprows=1, low_memory=False)
df3

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,166795268,NaN,5000.0,5000.0,5000.0,36 months,18.62%,182.33,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,168699312,NaN,15000.0,15000.0,15000.0,60 months,16.08%,365.41,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,167925465,NaN,4550.0,4550.0,4550.0,36 months,7.56%,141.66,A,A3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,168689417,NaN,4000.0,4000.0,4000.0,36 months,17.30%,143.21,C,C1,...,115.33,4046.13,0.00,N,NaN,NaN,NaN,NaN,NaN,NaN
4,168694393,NaN,15075.0,15075.0,15075.0,36 months,10.81%,492.19,A,A5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105009,163221893,NaN,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,...,163.93,9595.42,324.23,N,NaN,NaN,NaN,NaN,NaN,NaN
105010,163197179,NaN,7500.0,7500.0,7500.0,60 months,8.19%,152.76,A,A4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
105011,162914373,NaN,20000.0,20000.0,20000.0,36 months,12.40%,668.12,B,B4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
105012,Total amount funded in policy code 1: 1767320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105013,Total amount funded in policy code 2: 713034148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging 3 dataframes (3 most recent quarters of data from Lending Space)

In [8]:
df = pd.concat([df1, df2, df3], axis = 0)
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,163477201,NaN,5000.0,5000.0,5000.0,36 months,17.74%,180.12,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,164027473,NaN,20000.0,20000.0,20000.0,36 months,12.40%,668.12,B,B4,...,393.88,19282.07,668.12,N,NaN,NaN,NaN,NaN,NaN,NaN
2,164137439,NaN,33000.0,33000.0,33000.0,60 months,15.24%,789.24,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,162948736,NaN,19000.0,19000.0,18975.0,36 months,6.46%,581.99,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,164131732,NaN,15000.0,15000.0,15000.0,36 months,7.02%,463.30,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105009,163221893,NaN,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,...,163.93,9595.42,324.23,N,NaN,NaN,NaN,NaN,NaN,NaN
105010,163197179,NaN,7500.0,7500.0,7500.0,60 months,8.19%,152.76,A,A4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
105011,162914373,NaN,20000.0,20000.0,20000.0,36 months,12.40%,668.12,B,B4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
105012,Total amount funded in policy code 1: 1767320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105013,Total amount funded in policy code 2: 713034148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The merged data set contains 376,311 rows and 150 columns. 

A quick look into missing data - df1.isnull().sum() - shows that there is a number of columns with majority data missing: these columns would not be of use and will have to be removed.

In [9]:
df.shape

(376311, 150)

In [10]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=150)

In [11]:
df.isnull().sum()

id                            0
member_id                376311
loan_amnt                     6
funded_amnt                   6
funded_amnt_inv               6
                          ...
settlement_status        376269
settlement_date          376269
settlement_amount        376269
settlement_percentage    376269
settlement_term          376269
Length: 150, dtype: int64

In [12]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,desc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,376305.000000,376305.000000,376305.00000,376305.000000,3.763050e+05,0.0,375537.000000,376305.000000,376305.000000,...,42795.000000,52285.000000,42795.000000,42795.000000,52285.000000,52285.000000,52285.000000,42.000000,42.000000,42.000000
mean,NaN,16470.773840,16470.773840,16468.62462,475.478709,8.663768e+04,NaN,21.105044,0.231097,706.131835,...,2.138194,86.576838,2.138194,0.805047,488.260683,16104.573493,776.967505,7623.259762,50.130238,16.571429
std,NaN,10353.006691,10353.006691,10352.63053,291.336589,1.051094e+05,NaN,20.211608,0.753385,35.291477,...,0.507336,221.717460,0.507336,3.444024,562.077293,9914.189882,2398.080615,5592.130243,9.524180,8.410629
min,NaN,1000.000000,1000.000000,850.00000,30.640000,0.000000e+00,NaN,0.000000,0.000000,660.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,626.020000,40.000000,1.000000
25%,NaN,8500.000000,8500.000000,8500.00000,259.380000,5.000000e+04,NaN,12.940000,0.000000,680.000000,...,2.000000,0.000000,2.000000,0.000000,186.760000,8533.030000,268.010000,3435.250000,45.000000,8.000000
50%,NaN,14500.000000,14500.000000,14500.00000,398.210000,7.000000e+04,NaN,19.240000,0.000000,700.000000,...,2.000000,0.000000,2.000000,0.000000,357.840000,14383.610000,437.630000,6179.500000,45.000000,18.000000
75%,NaN,23000.000000,23000.000000,23000.00000,642.250000,1.010000e+05,NaN,26.490000,0.000000,725.000000,...,2.000000,0.000000,2.000000,0.000000,612.490000,22963.720000,696.080000,10231.600000,59.992500,24.000000
max,NaN,40000.000000,40000.000000,40000.00000,1671.880000,9.999999e+06,NaN,999.000000,26.000000,845.000000,...,4.000000,1600.000000,4.000000,38.000000,11581.820000,42088.070000,40270.980000,21905.000000,65.010000,24.000000

In [15]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376311 entries, 0 to 105013
Data columns (total 150 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   id                                          object
 1   member_id                                   float64
 2   loan_amnt                                   float64
 3   funded_amnt                                 float64
 4   funded_amnt_inv                             float64
 5   term                                        object
 6   int_rate                                    object
 7   installment                                 float64
 8   grade                                       object
 9   sub_grade                                   object
 10  emp_title                                   object
 11  emp_length                                  object
 12  home_ownership                              object
 13  annual_inc                                  float64
 14  verification_status                         object
 15  issue_d                                     object
 16  loan_status                                 object
 17  pymnt_plan                                  object
 18  url                                         object
 19  desc                                        float64
 20  purpose                                     object
 21  title                                       object
 22  zip_code                                    object
 23  addr_state                                  object
 24  dti                                         float64
 25  delinq_2yrs                                 float64
 26  earliest_cr_line                            object
 27  fico_range_low                              float64
 28  fico_range_high                             float64
 29  inq_last_6mths                              float64
 30  mths_since_last_delinq                      float64
 31  mths_since_last_record                      float64
 32  open_acc                                    float64
 33  pub_rec                                     float64
 34  revol_bal                                   float64
 35  revol_util                                  object
 36  total_acc                                   float64
 37  initial_list_status                         object
 38  out_prncp                                   float64
 39  out_prncp_inv                               float64
 40  total_pymnt                                 float64
 41  total_pymnt_inv                             float64
 42  total_rec_prncp                             float64
 43  total_rec_int                               float64
 44  total_rec_late_fee                          float64
 45  recoveries                                  float64
 46  collection_recovery_fee                     float64
 47  last_pymnt_d                                object
 48  last_pymnt_amnt                             float64
 49  next_pymnt_d                                object
 50  last_credit_pull_d                          object
 51  last_fico_range_high                        float64
 52  last_fico_range_low                         float64
 53  collections_12_mths_ex_med                  float64
 54  mths_since_last_major_derog                 float64
 55  policy_code                                 float64
 56  application_type                            object
 57  annual_inc_joint                            float64
 58  dti_joint                                   float64
 59  verification_status_joint                   object
 60  acc_now_delinq                              float64
 61  tot_coll_amt                                float64
 62  tot_cur_bal                                 float64
 63  open_acc_6m                                 float64
 64  open_act_il                                 float64
 65  open_il_12m                                 float64
 66  open_il_24m                                 float64
 67  mths_since_rcnt_il                          float64
 68  total_bal_il                                float64
 69  il_util                                     float64
 70  open_rv_12m                                 float64
 71  open_rv_24m                                 float64
 72  max_bal_bc                                  float64
 73  all_util                                    float64
 74  total_rev_hi_lim                            float64
 75  inq_fi                                      float64
 76  total_cu_tl                                 float64
 77  inq_last_12m                                float64
 78  acc_open_past_24mths                        float64
 79  avg_cur_bal                                 float64
 80  bc_open_to_buy                              float64
 81  bc_util                                     float64
 82  chargeoff_within_12_mths                    float64
 83  delinq_amnt                                 float64
 84  mo_sin_old_il_acct                          float64
 85  mo_sin_old_rev_tl_op                        float64
 86  mo_sin_rcnt_rev_tl_op                       float64
 87  mo_sin_rcnt_tl                              float64
 88  mort_acc                                    float64
 89  mths_since_recent_bc                        float64
 90  mths_since_recent_bc_dlq                    float64
 91  mths_since_recent_inq                       float64
 92  mths_since_recent_revol_delinq              float64
 93  num_accts_ever_120_pd                       float64
 94  num_actv_bc_tl                              float64
 95  num_actv_rev_tl                             float64
 96  num_bc_sats                                 float64
 97  num_bc_tl                                   float64
 98  num_il_tl                                   float64
 99  num_op_rev_tl                               float64
 100 num_rev_accts                               float64
 101 num_rev_tl_bal_gt_0                         float64
 102 num_sats                                    float64
 103 num_tl_120dpd_2m                            float64
 104 num_tl_30dpd                                float64
 105 num_tl_90g_dpd_24m                          float64
 106 num_tl_op_past_12m                          float64
 107 pct_tl_nvr_dlq                              float64
 108 percent_bc_gt_75                            float64
 109 pub_rec_bankruptcies                        float64
 110 tax_liens                                   float64
 111 tot_hi_cred_lim                             float64
 112 total_bal_ex_mort                           float64
 113 total_bc_limit                              float64
 114 total_il_high_credit_limit                  float64
 115 revol_bal_joint                             float64
 116 sec_app_fico_range_low                      float64
 117 sec_app_fico_range_high                     float64
 118 sec_app_earliest_cr_line                    object
 119 sec_app_inq_last_6mths                      float64
 120 sec_app_mort_acc                            float64
 121 sec_app_open_acc                            float64
 122 sec_app_revol_util                          float64
 123 sec_app_open_act_il                         float64
 124 sec_app_num_rev_accts                       float64
 125 sec_app_chargeoff_within_12_mths            float64
 126 sec_app_collections_12_mths_ex_med          float64
 127 sec_app_mths_since_last_major_derog         float64
 128 hardship_flag                               object
 129 hardship_type                               object
 130 hardship_reason                             object
 131 hardship_status                             object
 132 deferral_term                               float64
 133 hardship_amount                             float64
 134 hardship_start_date                         object
 135 hardship_end_date                           object
 136 payment_plan_start_date                     object
 137 hardship_length                             float64
 138 hardship_dpd                                float64
 139 hardship_loan_status                        object
 140 orig_projected_additional_accrued_interest  float64
 141 hardship_payoff_balance_amount              float64
 142 hardship_last_payment_amount                float64
 143 debt_settlement_flag                        object
 144 debt_settlement_flag_date                   object
 145 settlement_status                           object
 146 settlement_date                             object
 147 settlement_amount                           float64
 148 settlement_percentage                       float64
 149 settlement_term                             float64
dtypes: float64(112), object(38)
memory usage: 433.5+ MB

In [ ]:
## Saving a merged dataframe
df.to_csv('LCdata_merged_raw.csv', index=False)